#swiss-knife-lab {
  background-color: red !important;
}

.popup-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 9999;

  //   display: none !important;
}

#swk__class-manager-panel {
  background-color: var(--builder-bg);
  color: white;
  width: 100%;
  max-width: 1600px;
  padding: 4rem;
  border-radius: var(--builder-border-radius);
  display: flex;
  gap: 4rem;

  > * {
    width: 100%;
  }
}

.swk__form-group {
  margin-bottom: 2rem;

  input {
    background-color: var(--builder-bg);
    color: white;
    border: 1px solid var(--builder-border-color);
    border-radius: var(--builder-border-radius);
    padding: 1rem;
    width: 100%;
  }
}

#classes-list {
  ul {
    list-style: none;
    padding: 0;
  }

  li {
    border-bottom: 1px solid var(--builder-border-color);
    padding: 1rem 0;
    font-size: 1.2rem;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
  }

  .swk__class-category {
    background-color: var(--builder-bg-2);
    font-size: 0.9rem;
    border-radius: var(--builder-border-radius);
    padding: 0.5rem;
    margin-left: auto;
  }
}

.swk__button {
  width: 100%;
  background-color: var(--builder-bg-2);
  color: white;
  border-radius: var(--builder-border-radius);
  padding: 1rem;
  font-size: 1.4rem;
  cursor: pointer;
  text-align: center;
}
